/* You can add global styles to this file, and also import other style files */
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }


@keyframes enterFromTop {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
